{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Step into the heart of Singapore’s rich culinary heritage at Yiyi's, 
          where tradition meets taste. 
        </p>
        <p>
          At Yiyi's, we pride ourselves on serving authentic local delicacies and handcrafted beverages 
          that capture the spirit of Singapore’s rich culture. 
        </p>

        <p>
          Whether you’re here to enjoy a hearty breakfast, a mid-day snack, or a leisurely coffee break, 
          our menu offers something for everyone.
        </p>

        <p>
          From the aroma of freshly brewed kopi to the irresistible crunch of kaya toast, 
          every bite and sip takes you on a journey of nostalgia and comfort. 
        </p>

        <p>
          Our mission is to create a welcoming space where friends and families gather to savor cherished traditions.
        </p>

        <p>
          Come and experience the essence of Singapore’s cafe culture, where every visit is more than a meal—
          it’s a moment to relish. We look forward to welcoming you soon!
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/cafe_shop.jpg' %}"
            alt="YIYI'S"
          />
          <figcaption class="figure-caption">
            Yiyi's Cafe
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
