{% extends 'base.html' %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->

{% block content %}
<section>
  <article>
    <h1>Reservation Details</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        the booking is successfully. Thank you for booking with us.
      <h2>
        First Name: {{ booking.first_name }}
      </h2>
      <h2>
          Last Name: {{ booking.last_name }}
      </h2>
      <h2>
          Guest No: {{ booking.guest_number }}
      </h2>
      <h2>
        Comment: {{ booking.comment }}
        </h2>
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'edit_booking' pk=booking.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'delete_booking' pk=booking.id %}">Delete</a>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.1394067431!2d103.819836!3d1.352083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b0b0b0b0b0%3A0x0!2sSingapore!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}